@import 'assets/styles/variables';

html, body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: "Montserrat", sans-serif;
}

.btn-primary {
  background-color: #2292EF;
  padding: 15px 20px;
  border-radius: 20px;
  color: white;
  border: 1px solid #2292EF;
  font-weight: 500;
  letter-spacing: 0.5px;
  z-index: 1;
}

.btn-primary:hover {
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.btn-secondary {
  background-color: transparent;
  padding: 15px 20px;
  border-radius: 20px;
  color: white;
  border: 2px solid white;
  font-weight: 500;
  letter-spacing: 0.5px;
  box-shadow: rgba(255, 255, 255, 0.15) 0px 5px 5px 0px;
  z-index: 1;
}

.btn-secondary:hover {
  cursor: pointer;
  box-shadow: rgba(252, 251, 251, 0.16) 0px 10px 36px 0px, rgba(253, 253, 253, 0.06) 0px 0px 0px 1px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1;
}

@media (min-width: 768px) {
  html, body {
    /* Desabilita a rolagem para ativar o scroll hijacking em desktop */
    overflow: hidden;
  }
}

/* Usando o seletor do seu componente como prefixo */
.p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
  font-size: 4.5rem;
  color: white;
  .p-icon {
    width: 3rem;
    height: 2rem;
  }
}

.p-carousel .p-carousel-content .p-carousel-next:hover {
  background-color: transparent !important;
  color: white !important;
}

.p-carousel .p-carousel-content .p-carousel-prev:hover {
  background-color: transparent !important;
  color: white !important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0 0.4rem;
  background-color: #ccc;
  border: none; 
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #007bff;
}

p {
  margin: 0;
}

.mat-mdc-text-field-wrapper {
    background-color: white;
}