<div class="skills flex justify-content-center align-items-start mb-7 md:mb-0">
    <div class="col-11 p-0">
        <h3 class="mt-6 md:mt-0">{{'Habilidades & Tecnologias' | uppercase}}</h3>
        <div class="grid flex flex-column lg:flex-row justify-content-between">
            
            <div class="col p-0 flex-order-2 lg:flex-order-1 ml-2 md:ml-0">
                <div class="grid">
                    <div class="card m-1 flex justify-content-center align-items-center" 
                        *ngFor="let card of cards"
                        [ngClass]="{'card-active': card.active}"
                        [style.box-shadow]="card.active ? card.primary + '0px 0px 5px 2px' : ''"
                        (click)="setCard(card.title)">
                        <img *ngIf="card.icon" [src]="card.icon">
                        <span>{{card.title}}</span>
                    </div>
                </div>
            </div>

            <div class="p-0 col-11 md:col-12 ml-2 md:ml-0 flex flex-column align-items-start flex-order-1 lg:flex-order-2 mb-4 container-timeline">
                <p class="title m-0">{{'Proeficiência em:' | uppercase}} <b>{{itemSelected.title}}</b></p>
                <div class="col-12 p-0" *ngIf="!loadChart">
                    <div *ngFor="let item of itemSelected.proficiency | objectKeys" class="col-12 p-0 flex align-items-center justify-content-between mt-5">
                        <div class="col-8 md:col-10 p-0 flex align-items-center">
                            <div class="flex col-9 p-0">
                                <div class="bar-up" 
                                    [style.background-color]="itemSelected.primary"
                                    [style.width]="itemSelected.proficiency[item] + '0%'"></div>
                                <div class="low-bar col p-0" ></div>
                            </div>
                            <p class="title-bar ml-2" title="{{translateProefycince(item)[1]}}">{{translateProefycince(item)[0]}}</p>
                        </div>
                        <p class="title-bar"><b>{{itemSelected.proficiency[item]}}0%</b></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
