@import 'src/assets/styles/variables';
// icons color #2BE2EE, #5d7bfd, #973ACA
.skills {
    width: 100vw;
    height: 100vh;

    .title {
        font-size: 22px;
        font-weight: bold;
        color: #000;
    }

    .card {
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 15px;
        background-color: $primary;
        cursor: pointer;

        &-active {
            border: 2px solid white;
        }

        span {
            color: white;
            font-size: 16px;
            letter-spacing: 1px;
            font-weight: 400;
            position: absolute;
            bottom: 15px;
            left: 15px;
        }

        
    }

    .bar-up {
        height: 25px;
        transition: width 1s ease-in-out; 
    }
    
    .low-bar {
        height: 25px;
        background-color: #86868670;
    }

    .title-bar {
        font-size: 12px !important;
        font-weight: 500;
        margin: 0;
        cursor: help;
    }
}