html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Estilo para cada seção */
.section {
  width: 100vw; /* 100% da largura da viewport */
  height: 100vh; /* 100% da altura da viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  scroll-snap-align: start; /* Ajuda a "grudar" a seção no topo */

  h1 {
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 78px;
    line-height: 0px;
  }

  .blue-efect {
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 1px;
    margin: -10px 0 10px 0;
    background-image: linear-gradient(to right, #5278EB, #1FB5EA, #268DEF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
  }

  .subtitle {
    font-size: 24px;
    line-height: 0;
    color: white;
  }

  .img-perfil {
    width: 100%;
    max-width: 500px;
    height: 100%;
    min-width: 50px;
    border-radius: 15px;
  }

  .title-about-me {
    font-size: 32px;
    font-weight: 700;
    color: black;
    line-height: 0;
    margin: 10px 0;
  }

  .timeline {
    height: auto;
    background-color: #131c36;
    border: 1px solid #131c36;
    border-radius: 15px;
    overflow: auto;

    h6 {
      color: white;
    }
  }
}

@media (max-width: 767px) {
  .section {
    width: 100vw;
    height: auto; 

    .img-perfil {
      width: 100%;
      max-width: 700px;
      margin-top: 100px;
    }
  }
}