.home {
    width: 100vw;
    height: 100vh;
    background-color: #15224e;
    margin: 0;
    
    h1 {
        color: white;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 78px;
        line-height: 0px;
    }
    
    .blue-efect {
        font-size: 70px;
        font-weight: 600;
        line-height: 70px;
        letter-spacing: 1px;
        margin: -10px 0 10px 0;
        background-image: linear-gradient(to right, #5278EB, #1FB5EA, #268DEF);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .subtitle {
        font-size: 24px;
        line-height: 0;
        color: white;
    }

}